html {
    height: 100%;
    width: 99vw;
}

body {
    background-color: #373B41;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    border: 5px #1D1F21 solid;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-flow: column;
}

.container > h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

#submitbutton {
    background-color: #B5BD68;
    border: 3px #8C9440 solid;
    border-radius: 10px;
    padding: 10px;
    color: inherit;
    cursor: pointer;
    margin-top: 10px;
}

.rot90 {
    transform: rotate(90deg);
}

.rot180 {
    transform: rotate(180deg);
}

.rot270 {
    transform: rotate(270deg);
}