<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <title>Bates' Mortar Calculator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='resetsheet.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='mortar.ico') }}">
        <script src="https://kit.fontawesome.com/65dcb5e2c1.js" crossorigin="anonymous"></script>

    </head>

    <body>

        <div class="container">
            <h1>Values</h1>
            <form action="/" method="post">
                <table>
                    <tr><td><label for="morelev">Mortar Elevation:</label></td> <td><input id="morelev" name="morelev" type="number" min="0" required></td></tr>
                    <tr><td><label for="tarelev">Target Elevation:</label></td> <td><input id="tarelev" name="tarelev" type="number" min="0" required></td></tr>
                    <tr><td><label for="distance">Distance to Target:</label></td> <td><input id="distance" name="distance" type="number" min="50" max="3100" required></td></tr>
                    <tr><td><label for="direction">Direction to Target:</label></td> <td><input id="direction" name="direction" type="number" min="0" max="6400" required></td></tr>
                    <tr><td><label for="cwspeed">Crosswind speed:</label></td> <td><input id="cwspeed" name="cwspeed" type="number" min="0" step="0.01" required></td></tr>
                    <tr><td><label for="hwspeed">Headwind speed:</label></td> <td><input id="hwspeed" name="hwspeed" type="number" min="0" step="0.01" required></td></tr>
                    <tr><td><p>Wind direction</p></td><td>
                        <label for="0"><i class="fas fa-location-arrow"></i></label> <input type="radio" name="wdirection" value="0" id="0" required></label>
                        <label for="1"><i class="fas fa-location-arrow rot90"></i></label> <input type="radio" name="wdirection" value="1" id="1" required></label>
                        <label for="2"><i class="fas fa-location-arrow rot180"></i></label> <input type="radio" name="wdirection" value="2" id="2" required></label>
                        <label for="3"><i class="fas fa-location-arrow rot270"></i></label> <input type="radio" name="wdirection" value="3" id="3" required></label>
                    </td></tr>
                </table>
                <input id="submitbutton" type="submit" value="Calculate!">
            </form>
        </div>

        <div class="container">
            <h1>Calculated</h1>
            <table>
                {% for k in values.keys() %}
                    <tr> <td>{{ k.title() }}:</td> <td>{{ values[k] }}</td> </tr>
                {% endfor %}
            </table>
        </div>

    </body>

</html>